.headers {
  color: rgb(158, 158, 158);
  font-family: Roboto, sans-serif;
  line-height: 0.9em;
  font-size: 1.5em;
}

.left-section {
  width: 48%;
  float: left;
}

.right-section {
  width: 45%;
  float: right;
}

.donutChart-container {
  height: 350px;
  margin-top: 63px;
}
